@font-face {
  font-family: 'gilroyblack';
  src: url('/fonts/gilroy-black-webfont.woff2') format('woff2'),
       url('/fonts/gilroy-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gilroybold';
  src: url('/fonts/gilroy-bold-webfont.woff2') format('woff2'),
       url('/fonts/gilroy-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gilroyregular';
  src: url('/fonts/gilroy-regular-webfont.woff2') format('woff2'),
       url('/fonts/gilroy-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


.container {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 30px 0;
  width:100%;
  position: relative;
  z-index: 190;
}

.main {
  position: relative;
  z-index: 90;
}

.contenedor {
  max-width:1280px;
  margin: 0 auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: #fff;
  font-family: gilroyblack;
  text-transform: uppercase;
  font-size:20px;
  margin-left: 15px;
}

.menu .menu_ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin:0;
  padding: 0 !important;
}

.menu .nav_links {
  list-style: none;
}

.menu .nav_links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

.menu .nav_links a:hover {
  color: var(--salo-purple)
}

.social_links {
  display: flex;
  align-items: center;
}

.redes {
  display: flex;
  align-items: center;
}

.redes_a {
 margin-left: 15px;
 transition: .2s all;
}

.redes_a > div {
  overflow: visible !important;
}

.redes_a img:hover {
  transform: scale(1.1);
}

.suscribe a {
  padding: 10px 20px;
  border-radius: 7px;
  border: solid 1px #fff;
  color: #fff;
  transition: .2s all;
  cursor: pointer;
  margin-left: 30px;
}

.suscribe a:hover {
  background: var(--salo-purple);
  border-color: var(--salo-purple);
}

.suscribe {
  display: flex;
  align-items: center;
  line-height: 16px;

  transition: .2s all;
}

.suscribe svg {
  height: 10px;
  line-height:12px;
  margin-left: 10px;
  position: relative;

  transition: .2s all;
}
.suscribe a:hover svg {
  left: 5px;
}

.boton_purple {
  background: var(--salo-purple);
  border-color: var(--salo-purple);
  padding: 10px 20px;
  border-radius: 7px;
  color: #fff;
  transition: .2s all;
  cursor: pointer;
  text-align: center;
}

.boton_purple svg {
  height: 10px;
  line-height:12px;
  margin-left: 10px;
  position: relative;
  transition: .2s all;
}

.boton_full {
  text-align: center;
}

.boton_purple:hover svg {
  left: 5px;
}

.title_home {
  font-size: 80px;
  font-family: gilroybold;
  color: #fff;
  text-align: center;
  line-height:78px;
  margin: 15px 0;
}

.title_footer {
  font-size: 80px;
  font-family: gilroybold;
  color: #fff;
  text-align: center;
  line-height:78px;
  margin: 35px 0;
}

.title_home::after {
  content: ' |';
  animation-name: bar-an;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bar-an {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.title_homeh2 {
  font-size: 60px;
  font-family: gilroybold;
  color: #fff;
  text-align: center;
  line-height:78px;
  margin: 15px 0;
}

.circle_right {
  position: absolute;
width: 942px;
height: 942px;
right: -349px;
top: -349px;
z-index: 1;
background: radial-gradient(50% 50% at 50% 50%, rgba(0, 163, 255, 0.17) 0%, rgba(0, 163, 255, 0) 100%);
}

.circle_right_footer {
  position: absolute;
    width: 1526px;
    height: 1526px;
    right: -600px;
    bottom: -600px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(128, 0, 255, 0.16) 0%, rgba(0, 163, 255, 0) 100%);
}

.circle_left_footer {
  position: absolute;
    width: 1526px;
    height: 1526px;
    left: -600px;
    bottom: -600px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 163, 255, 0.17) 0%, rgba(0, 163, 255, 0) 100%);
}


.recent div > div {
  overflow: visible !important;
}

.circle_left {
  position: absolute;
width: 1526px;
height: 1526px;
left: -683px;
top: -704px;
z-index: 1;
background: radial-gradient(50% 50% at 50% 50%, rgba(128, 0, 255, 0.16) 0%, rgba(0, 163, 255, 0) 100%);
}

.description {
  color: #989898;
  font-size: 20px;
  text-align: center;
  padding-bottom: 15px;
}

.recent {
  padding:200px 10%;
  display:flex;
}

.recent img {
  width:100%;
}




.zoom1 img {
  transform: scale(1.4);
  position: relative;
  z-index: 9;
  border-radius: 15px;
  transition: .2s all;
}

.zoom1 img:hover {
  z-index: 11;
  cursor: pointer;
  transform: scale(1.5);
}

.zoom2 img {
  transform: scale(1.4);
  position: relative;
  z-index: 9;
  border-radius: 15px;
  transition: .2s all;
}

.zoom2 img:hover {
  z-index: 11;
  cursor: pointer;
  transform: scale(1.5);
}

.zoom3 img {
  transform: scale(2);
  position: relative;
  z-index: 10;
  border-radius: 15px;
  transition: .2s all;
  filter: drop-shadow(-22.4192px 39.9647px 70px rgba(162, 89, 255, 0.14)) drop-shadow(28.2677px -37.0404px 70px rgba(234, 76, 137, 0.21));
  
}

.zoom3 img:hover {
  z-index: 11;
  cursor: pointer;
  transform: scale(2.1);
}


.community {
  display: flex;
  justify-content: space-evenly;
}

.box_comm_a {
  display: flex;
  background: #2D2D2D;
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
  font-size: 40px;
  font-family: gilroybold;
  align-items: center;
  border: solid 2px #2d2d2d;
  transition: .2s all;
}

.box_comm_yt a:hover {
  border-color: red !important;
}

.box_comm_dc a:hover {
  border-color: #5865F2 !important;
}

.box_comm_sp a:hover {
  border-color: #4EE818 !important;
}



.box_comm_a img {
  padding-right: 15px !important;
  width: 100%;
  height: 40px;
}

.latest_video {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px;
}

.video_yt {
  width: 50%;
}

.video_yt img {
  width: 100%;
  border-radius: 20px;
  transition: .2s all;
}

.video_yt a > div {
  overflow: visible !important;
}

.video_yt img:hover {
  transform: scale(1.1);
}

.desc_yt {
  padding: 0 90px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title_yt {
  color: #fff;
  font-size: 40px;
  font-family: gilroybold;
  margin-bottom: 30px;
}

.desc_yt_det {
  color: #989898;
  font-size:20px;
}

.avatar_full {
  text-align: center;
  margin-bottom: 50px;
}

.pre_footer {
  padding-bottom: 150px;
}

.footer .contenedor {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.credits {
  color: #88898A;
}

.credits a:first-child {
  margin-left: 45px;
}

.credits a {
  margin: 0 25px;
  color: #ccc;
}

.menu_movil {
  display: none;
}

.footer {
  position: relative;
  z-index: 90;
}

.menu_btn {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 99;
  border: none;
  outline: none;
}

.menu_btn:checked ~ .menu {
max-height: 240px;
display:block;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .container {
    padding: 20px;
  }

  .menu_movil {
    display: block;
  }

  .header {
    padding: 10px 0;
  }

  .menu {
    display: none;
  }

  .logo span {
    display: none;
  }

  .title_home {
    font-size: 60px;
    line-height: 58px;
  }

  .recent {
    padding: 100px 5%;
    padding-bottom: 40px;
  }

  .title_homeh2 {
    font-size: 50px;
    line-height:48px;
  }

  .social_links .suscribe {
    display: none;
  }

  .zoom1 img, .zoom2 img, .zoom3 img {
    border-radius: 5px;
  }

  .community {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .community > div {
    margin-bottom: 15px;
  }

  .community > div a {
    justify-content: center;
  }

  .latest_video {
    flex-direction:column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .video_yt, .desc_yt {
    width: 100%;
  }

  .desc_yt {
    padding: 40px;
  }

  .footer .contenedor {
    flex-direction: column;
  }

  .footer span {
    display: block;
    text-align: center;
    margin-bottom: 30px;
  }

  .footer .credits {
    margin-bottom: 30px;
  }

  .menu_movil {
    width: 101px;
  }
  .pre_footer {
    padding-bottom: 50px;
  }

  .redes_a:first-child {
    margin-left: 0px;
  }

  .navBar {
    position: relative;
  }

  .menu {
    position: absolute;
    width: 100%;
    top: 60px;
    z-index: 199;
    padding: 20px !important;
    border-radius: 20px;
    background: #2D2D2D;
  }

  .menu_ul {
    flex-direction: column  !important;
    padding: 20px !important;
  }

  .menu_ul li {
    margin-bottom: 15px;
  }

  .menu_ul li:last-child {
    margin-bottom: 0px;
  }
  
}
